{% extends 'store/base.html' %}

{% block title %}About Us - Urban Oasis Furnishings{% endblock %}

{% block content %}
    <h1>About Us</h1>
    <p>Urban Oasis Furnishings is a family-owned business that has been creating custom furniture for over 20 years. We believe in the power of craftsmanship and the importance of creating pieces that last a lifetime.</p>

    <h2>Our Vision</h2>
    <p>We strive to transform homes into urban oases by offering personalized, high-quality furniture solutions.</p>

    <h2>Our Mission</h2>
    <p>Our mission is to create furniture that brings beauty and comfort to your home.</p>

    <h2>Customer Focus</h2>
    <p>With a commitment to excellence and customer satisfaction, we strive to provide a diverse 
        range of furniture options to suit every individual`s unique style and preferences. The target
        market will be working professionals with disposable income who have a stylish, modern home.
        The target market will prefer contemporary designs but don’t want to spend an outlandish
        amount of money.</p>

    <p><a href="{% url 'product_list' %}">Explore our furniture collection</a></p>
{% endblock %}
