{% extends 'store/base.html' %}

{% block title %}Welcome to Urban Oasis Furnishings{% endblock %}

{% block content %}
    <h1>Welcome to Urban Oasis Furnishings</h1>
    <p>Urban Oasis furnishings is a newly established furniture retail store focusing on modern and trendy furniture for the stylish individual. It is located in Mukono, Uganda.
        <br/>
        Urban Oasis furnishings is owned by Edward Masembe a Scientist and entrepreneur with keen eyes for quality craftsmanship and minimalist design.
        <br/> 
        Edward has recognized that while there are a handful of quality furniture stores, there are not very many
        quality modern furniture stores that offer unique designs and furnishings for reasonable prices.
        <br/>
        <br/>
        Urban Oasis furnishings will carry quality pieces of modern-designed furniture that are moderately priced and will last for years. Whatever room you are outfitting, Urban Oasis
        furnishings will have something for you.</p>
    
    <h2>What We Do</h2>
    <p>We offer a wide range of furniture, from modern sofas to bespoke dining tables. Our team of craftsmen works with the finest materials to ensure that every piece is a masterpiece.</p>
    <br/>
    <h3>Products</h3>
    <ul>
        <li>Living Room Furniture</li>
        <li>Bedroom Furniture</li>
        <li>Dining Room Furniture</li>
        <li>Office Furniture</li>
        <li>Outdoor Furniture</li>
        <li>Art and Accessories</li>
    </ul>
    <br/>
    <h3>Services</h3>
    <ul>
        <li>Furniture Delivery</li>
        <li>Furniture Restoration</li>
        <li>Custom Furniture Designs</li>
    </ul>
    
    
    
    <h2>Our Vision</h2>
    <p>To become the leading provider of bespoke furniture solutions by delivering exceptional craftsmanship and customer service.</p>
    
    <h2>Our Mission</h2>
    <p>To design and create unique, high-quality furniture pieces that transform homes into urban oases.</p>
    
    <h2>Our Products</h2>
    <p><a href="{% url 'product_list' %}">Explore our furniture collection</a></p>

    <p><a href="{% url 'register' %}">Sign Up</a> or <a href="{% url 'login' %}">Login</a> to start shopping.</p>
{% endblock %}
